*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.offer{
width: 100%;
height: 40px;
background-color: #ADC9A6;
display: flex;
justify-content: center;
align-items: center;

}
.offer__img{
    width: 24px;
    height: 24px;
   margin-right: 4px;
}
.offer__text{
    font-size: 11px;
    color: #153C3C;
    font-family: 'Roboto', sans-serif  ;

}

body{
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-size: 14px;
}



.head{
    width: 100%;
height: 100px;
background-color:  #153C3C;
display: flex;

padding: 0 80px 0 80px;

}
.big{
    background: #84A17D;
border-radius: 4px;
border: none;
width: 106px;
height: 40px;

}
.big:hover{
   opacity: 0.5;
   cursor:pointer;
   
}



.logo{
    width: 98px;
   
}
.cap__list{
    display: flex;
    align-items: center;
    margin-left: 112px;
 }
.cap{

    text-decoration: none;
    color: #FFFF;
  margin-left: 50px;
}

.cap:hover{
    opacity:0.5;
    cursor:pointer;
}

.but{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.heading{
    display: flex;
    
    width: 283px;
height: 48px;
background: #F3F7F2;
border-radius: 4px;


align-items: center;
justify-content: space-between;
margin-top: 108px;
margin-left:578px;

}
.text__heading{
    font-family: "Roboto";
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
  width: 100%;
  color: #153C3C;
}

.logotwo{
    font-family: "Roboto";
    font-size: 62px;
 padding-top: 11px;
   text-align:  center;

}


.photo2{
   
    padding-top: 102px;
 padding-left:80px;
 padding-right: 80px;
}




.heading2{
    display: flex;
    
    width: 283px;
height: 48px;
background: #F3F7F2;
border-radius: 4px;


align-items: center;
justify-content: space-between;
margin-top: 175px;
margin-left:578px;

}
.text__heading2{
    font-family: "Roboto";
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
  width: 100%;
  color: #172426;
}

.logo3333{
    font-family: "Roboto";
    font-size: 62px;
 padding-top: 11px;
   text-align:  center;

}


.card{

    width:510px;
    background: #F2F8F8;
    margin-left:190px;
    margin-top:100px
}
.icon__card{
    
    
    margin-left: 56px;  
    margin-right: 56px;
}
.text__card{
    
    font-size: 21px;
    padding-top: 40px;
  padding-left:56px;
  padding-bottom: 40px;
}
.card2{
    margin-top:100px;
    width:510px;
    background: #F2F8F8;
    margin-left: 40px;
}
.card__list{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container{
    max-width:1280px;
    width: 100%;
    
}
.card3{
    margin-top:100px;
    width:510px;
    background: #F2F8F8;
    margin-left: 205px;
    
}